@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #004AAD;
}

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: #004AAD;
  --font-lalezar: 'Lalezar', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
