@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #004AAD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-lalezar: 'Lalezar', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1541;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
